body {
    font-family: 'courier new', courier, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
h1 {
    font-size: 36px;
    line-height: 1.3em;
}
h2 {
    font-size: 21px;
    line-height: 15.3999996185303px;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

/*Top section styles*/

section {
    padding: 30px 0;
}

a {
    text-decoration: none;
    color:#2ec371;
}

#top {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #cbd0d2;
    padding: 100px 0;
    background: url('../images/hero-bg-dark.jpg') no-repeat center center;
    background-size: cover;
}

#top h1 {
    color:#2ec371;
    font-weight: 800;
}

#top h2 {
    color:#fefefe;
    font-weight: 100;
}

.skinny {
  color: #fefefe;
  font-weight: 100;
}

/*Middle section styles*/

.container {
    width: 970px;
    margin: 0 auto;
    font-family: 'courier new', courier, sans-serif;
    color: #555;
    font-weight: 300;
}

.container img {
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
    float:left;
    margin-right: 1.5em;
    margin-top: 1em;
}


