/*
=================================================
Body Styles
=================================================
*/

body { 
    font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
    background: url("../images/penny_portrait.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/*
=================================================
Heading and Greeting Styles
=================================================
*/

#greetings h1, h3, p {
    float: left;
    clear: left;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.60);
    color: #5a514c;
    text-align: center;}

#greetings h1 {
    margin: 100px 0 0 50px;
    height: 175px;
    background-image: url("../images/littlewebchair_logo.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    border-top: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;
}

#greetings h3 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

#greetings p {
    margin: 0 0 0 50px;
    padding: 30px 0 25px 0;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #bcbdc0;
    border-bottom: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;}
#greetings a {
    text-decoration: none;
    color: #D83E24;
    transition: color 150ms ease-in-out;
}

#greetings a:hover {
    color:#5a514c
}
/*===============================================*/
h1, h3, p {
    float: left;
    clear: left;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.60);
    color: #5a514c;
    text-align: center;}

h1 {
    margin: 50px 0 0 50px;
    height: 175px;
    background-image: url("../images/littlewebchair_logo.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    border-top: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;
}

h3 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

p {
    margin: 0 0 0 50px;
    padding: 30px 0 25px 0;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #bcbdc0;
    border-bottom: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;}
a {
    text-decoration: none;
    color: #D83E24;
    transition: color 150ms ease-in-out;
}

a:hover {
    color:#5a514c
}

/*
=================================================
Fix for full-screen background image: Chrome on Android
=================================================
*/

html{
    height:100%;
    min-height:100%;}
body{
    min-height:100%;}

/*
=================================================
Styling Links
=================================================
*/

nav {
	width:100%;
	height:3em;
	background-color: rgba(255, 255, 255, 0.60);
    border-bottom: 1px solid #bcbdc0;
	padding:.5em;
}

.nav ul {
    float: right;
}

.nav li {
    display: inline;
    margin-right: 1.5em;
    letter-spacing: 2px;
    font-size: 1em;
}

.nav a {
    color: black;
    margin-right: .5em;
    transition: color 150ms ease-in-out;
}

.nav a:hover {
    color: white;
}

.nav a.current {
    color: red;
}

/*
=================================================
Media Queries - Less than 600px
=================================================
*/

@media screen and (max-width: 728px) {

	.nav {
		height:auto;
        position: absolute;
        bottom:0;
        border-top: 1px solid #bcbdc0;
    }

	.nav ul li a {
		display: block;
		width:100%;
    }

    .nav ul {
    float: none;
    }
    
}




